.kanban-board-container {
  background-color: rgb(99, 99, 99);
  overflow: auto;
  height: 100vh;
}

.kanban-issues-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  height: 100%;
}

.kanban-issues-column {
  width: 350px;
  min-width: 350px;
  height: 100%;
  padding: 0px 8px;
  position: relative;
}

.kanban-issues-column:first-child {
  padding-left: 0px;
}

.kanban-issues-column:last-child {
  padding-right: 0px;
}

.kanban-column-title {
  color: #ffffff;
  display: block;
  position: sticky;
  top: 0px;
  background: #292929;
  padding: 16px 8px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
}

.kanban-issues-wrapper {
  background-color: #737373;
  max-height: var(--kanbanIsueWrapperheight);
  height: var(--kanbanIsueWrapperheight);
  padding: 8px;
}