.kanban-issue {
  background-color: black;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.kanban-issue:last-child {
  margin-bottom: 0px;
}

.issue-title {
  margin: 0px;
  color: white;
  margin-bottom: 10px;
}

.issue-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.icon {
  width: 30px;
  height: 30px;
}

img.user-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 10px;
}