.kanban-issue {
  background-color: black;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: move;
}

.kanban-issue:last-child {
  margin-bottom: 0px;
}

.issue-title {
  margin: 0px;
  color: white;
  margin-bottom: 10px;
}

.issue-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.issue-meta .meta-left {
  display: flex;
  align-items: center;
}

.issue-meta .meta-left .issue-type {
  display: flex;
  cursor: pointer;
}

.issue-meta .meta-left .issue-id {
  color: white;
  margin-left: 8px;
}

.issue-meta .meta-right {
  display: flex;
  align-items: center;
}

.issue-meta .meta-right .issue-priority {
  display: flex;
  cursor: pointer;
}

.issue-meta .meta-right .issue-assignee {
  margin-left: 8px;
  display: flex;
  cursor: pointer;
}

img.icon {
  width: 30px;
  height: 30px;
}

img.user-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}